In [92]:
import pandas as pd
import numpy as np

### 导入文件

In [93]:
# pd.read_csv(filename) # 导入csv格式文件中的数据
# pd.read_table(filename) # 导入有分隔符的文本 (如TSV) 中的数据
# pd.read_excel(filename) # 导入Excel格式文件中的数据
# pd.read_sql(query, connection_object) # 导入SQL数据表/数据库中的数据
# pd.read_json(json_string) # 导入JSON格式的字符，URL地址或者文件中的数据
# pd.read_html(url) # 导入经过解析的URL地址中包含的数据框 (DataFrame) 数据
# pd.read_clipboard() # 导入系统粘贴板里面的数据
# pd.DataFrame(dict)  # 导入Python字典 (dict) 里面的数据，其中key是数据框的表头，value是数据框的内容

### 导出文件

In [94]:
# df.to_csv(filename) # 将数据框 (DataFrame)中的数据导入csv格式的文件中
# df.to_excel(filename) # 将数据框 (DataFrame)中的数据导入Excel格式的文件中
# df.to_sql(table_name,connection_object) # 将数据框 (DataFrame)中的数据导入SQL数据表/数据库中
# df.to_json(filename) # 将数据框 (DataFrame)中的数据导入JSON格式的文件中

### 创建对象

In [95]:
df = pd.DataFrame(np.random.rand(10, 5))
print(df)
print('---'*20)
my_list = [1, 'read', 2020]
s = pd.Series(my_list)
print(s)
print('---'*20)
df = pd.DataFrame(np.random.rand(10, 5))
df.index = pd.date_range('2020/9/1', periods=df.shape[0])
df

          0         1         2         3         4
0  0.481518  0.320990  0.859822  0.659500  0.179020
1  0.742990  0.999244  0.381353  0.749087  0.112521
2  0.100693  0.910922  0.471833  0.484699  0.866036
3  0.998696  0.245808  0.237485  0.385962  0.096241
4  0.829674  0.854590  0.972137  0.764162  0.626934
5  0.499631  0.609478  0.184733  0.178607  0.912224
6  0.586908  0.473800  0.626097  0.627188  0.002570
7  0.712783  0.831743  0.364014  0.686319  0.965289
8  0.359020  0.660449  0.335159  0.311369  0.448306
9  0.737147  0.022590  0.105050  0.799658  0.077555
------------------------------------------------------------
0       1
1    read
2    2020
dtype: object
------------------------------------------------------------

                   0         1         2         3         4
2020-09-01  0.305794  0.725337  0.779157  0.277422  0.235774
2020-09-02  0.526780  0.432506  0.851025  0.401547  0.326513
2020-09-03  0.882287  0.174939  0.798689  0.611022  0.160162
2020-09-04  0.264003  0.888040  0.735907  0.946019  0.135092
2020-09-05  0.218982  0.462898  0.564353  0.313584  0.427181
2020-09-06  0.127258  0.533604  0.772827  0.549697  0.269460
2020-09-07  0.289333  0.513343  0.838674  0.946263  0.502914
2020-09-08  0.858065  0.890670  0.623564  0.260693  0.273604
2020-09-09  0.833224  0.502899  0.191550  0.580203  0.974595
2020-09-10  0.915724  0.317859  0.855437  0.967171  0.338637

### 数据的常看与检查

In [96]:
df.head(4)

                   0         1         2         3         4
2020-09-01  0.305794  0.725337  0.779157  0.277422  0.235774
2020-09-02  0.526780  0.432506  0.851025  0.401547  0.326513
2020-09-03  0.882287  0.174939  0.798689  0.611022  0.160162
2020-09-04  0.264003  0.888040  0.735907  0.946019  0.135092

In [97]:
df.tail(4)

                   0         1         2         3         4
2020-09-07  0.289333  0.513343  0.838674  0.946263  0.502914
2020-09-08  0.858065  0.890670  0.623564  0.260693  0.273604
2020-09-09  0.833224  0.502899  0.191550  0.580203  0.974595
2020-09-10  0.915724  0.317859  0.855437  0.967171  0.338637

In [98]:
df.shape

(10, 5)

In [99]:
df.info() # 查看数据框 (DataFrame) 的索引、数据类型及内存信息

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2020-09-01 to 2020-09-10
Freq: D
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     float64
 1   1       10 non-null     float64
 2   2       10 non-null     float64
 3   3       10 non-null     float64
 4   4       10 non-null     float64
dtypes: float64(5)
memory usage: 480.0 bytes

In [100]:
df.describe() # 对于数据类型为数值型的列，查询其描述性统计的内容

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.522145   0.544210   0.701118   0.585362   0.364393
std     0.317933   0.231065   0.203183   0.282046   0.241675
min     0.127258   0.174939   0.191550   0.260693   0.135092
25%     0.270336   0.440104   0.651650   0.335574   0.244196
50%     0.416287   0.508121   0.775992   0.564950   0.300058
75%     0.851855   0.677404   0.828678   0.862270   0.405045
max     0.915724   0.890670   0.855437   0.967171   0.974595

In [101]:
df.corr()

          0         1         2         3         4
0  1.000000 -0.319105 -0.228317  0.042093  0.215004
1 -0.319105  1.000000 -0.145109 -0.184254 -0.162553
2 -0.228317 -0.145109  1.000000  0.260681 -0.787064
3  0.042093 -0.184254  0.260681  1.000000  0.018644
4  0.215004 -0.162553 -0.787064  0.018644  1.000000

In [102]:
s.value_counts(dropna=False) # 查询每个独特数据值出现次数统计

2020    1
1       1
read    1
dtype: int64

In [103]:
df.apply(pd.Series.value_counts) # 查询数据框 (Data Frame) 中每个列的独特数据值出现次数统计

            0    1    2    3    4
0.127258  1.0  NaN  NaN  NaN  NaN
0.135092  NaN  NaN  NaN  NaN  1.0
0.160162  NaN  NaN  NaN  NaN  1.0
0.174939  NaN  1.0  NaN  NaN  NaN
0.191550  NaN  NaN  1.0  NaN  NaN
0.218982  1.0  NaN  NaN  NaN  NaN
0.235774  NaN  NaN  NaN  NaN  1.0
0.260693  NaN  NaN  NaN  1.0  NaN
0.264003  1.0  NaN  NaN  NaN  NaN
0.269460  NaN  NaN  NaN  NaN  1.0
0.273604  NaN  NaN  NaN  NaN  1.0
0.277422  NaN  NaN  NaN  1.0  NaN
0.289333  1.0  NaN  NaN  NaN  NaN
0.305794  1.0  NaN  NaN  NaN  NaN
0.313584  NaN  NaN  NaN  1.0  NaN
0.317859  NaN  1.0  NaN  NaN  NaN
0.326513  NaN  NaN  NaN  NaN  1.0
0.338637  NaN  NaN  NaN  NaN  1.0
0.401547  NaN  NaN  NaN  1.0  NaN
0.427181  NaN  NaN  NaN  NaN  1.0
0.432506  NaN  1.0  NaN  NaN  NaN
0.462898  NaN  1.0  NaN  NaN  NaN
0.502899  NaN  1.0  NaN  NaN  NaN
0.502914  NaN  NaN  NaN  NaN  1.0
0.513343  NaN  1.0  NaN  NaN  NaN
0.526780  1.0  NaN  NaN  NaN  NaN
0.533604  NaN  1.0  NaN  NaN  NaN
0.549697  NaN  NaN  NaN  1.0  NaN
0.564353  NaN  NaN  1.0  NaN  NaN
0.580203  NaN  NaN  NaN  1.0  NaN
0.611022  NaN  NaN  NaN  1.0  NaN
0.623564  NaN  NaN  1.0  NaN  NaN
0.725337  NaN  1.0  NaN  NaN  NaN
0.735907  NaN  NaN  1.0  NaN  NaN
0.772827  NaN  NaN  1.0  NaN  NaN
0.779157  NaN  NaN  1.0  NaN  NaN
0.798689  NaN  NaN  1.0  NaN  NaN
0.833224  1.0  NaN  NaN  NaN  NaN
0.838674  NaN  NaN  1.0  NaN  NaN
0.851025  NaN  NaN  1.0  NaN  NaN
0.855437  NaN  NaN  1.0  NaN  NaN
0.858065  1.0  NaN  NaN  NaN  NaN
0.882287  1.0  NaN  NaN  NaN  NaN
0.888040  NaN  1.0  NaN  NaN  NaN
0.890670  NaN  1.0  NaN  NaN  NaN
0.915724  1.0  NaN  NaN  NaN  NaN
0.946019  NaN  NaN  NaN  1.0  NaN
0.946263  NaN  NaN  NaN  1.0  NaN
0.967171  NaN  NaN  NaN  1.0  NaN
0.974595  NaN  NaN  NaN  NaN  1.0

### 数据的选取

In [104]:
df = pd.DataFrame(np.random.rand(5,5),columns=list('ABCDE'))
df['B']

0    0.722138
1    0.167416
2    0.946169
3    0.212083
4    0.851427
Name: B, dtype: float64

In [105]:
df[['B', 'C']] # 以新的数据框(DataFrame)的形式返回选取的列

          B         C
0  0.722138  0.833450
1  0.167416  0.063500
2  0.946169  0.502517
3  0.212083  0.557890
4  0.851427  0.009659

In [106]:
s.iloc[1]  # 按照位置选取

'read'

In [107]:
s.loc[1]

'read'

In [108]:
df.loc[0, 'B']

0.7221375416154903

In [109]:
df.iloc[0, 1]

0.7221375416154903

### 数据的清洗

In [110]:
df = pd.DataFrame({'A':np.array([1,np.nan,2,3,6,np.nan]),
                 'B':np.array([np.nan,4,np.nan,5,9,np.nan]),
                  'C':'foo'})
df.columns = ['a','b','c']
df.index = pd.date_range('2020/9/29', periods=df.shape[0])
df

              a    b    c
2020-09-29  1.0  NaN  foo
2020-09-30  NaN  4.0  foo
2020-10-01  2.0  NaN  foo
2020-10-02  3.0  5.0  foo
2020-10-03  6.0  9.0  foo
2020-10-04  NaN  NaN  foo

In [111]:
df.isnull()

                a      b      c
2020-09-29  False   True  False
2020-09-30   True  False  False
2020-10-01  False   True  False
2020-10-02  False  False  False
2020-10-03  False  False  False
2020-10-04   True   True  False

In [112]:
df.notnull()

                a      b     c
2020-09-29   True  False  True
2020-09-30  False   True  True
2020-10-01   True  False  True
2020-10-02   True   True  True
2020-10-03   True   True  True
2020-10-04  False  False  True

In [113]:
df.dropna() # 移除数据框 DataFrame 中包含空值的行

              a    b    c
2020-10-02  3.0  5.0  foo
2020-10-03  6.0  9.0  foo

In [114]:
df.dropna(axis=1)

              c
2020-09-29  foo
2020-09-30  foo
2020-10-01  foo
2020-10-02  foo
2020-10-03  foo
2020-10-04  foo

In [115]:
df.dropna(axis=1, thresh=4) #若除了NaN之外还有>=4个值则显示

              a    c
2020-09-29  1.0  foo
2020-09-30  NaN  foo
2020-10-01  2.0  foo
2020-10-02  3.0  foo
2020-10-03  6.0  foo
2020-10-04  NaN  foo

In [116]:
df.fillna('good') # 将数据框 DataFrame 中的所有空值替换为 x

               a     b    c
2020-09-29     1  good  foo
2020-09-30  good     4  foo
2020-10-01     2  good  foo
2020-10-02     3     5  foo
2020-10-03     6     9  foo
2020-10-04  good  good  foo

In [117]:
df.replace([1, 3], ['one', 'three']) # 将数组中所有1替换为'one',3替换成three

                a    b    c
2020-09-29    one  NaN  foo
2020-09-30    NaN  4.0  foo
2020-10-01      2  NaN  foo
2020-10-02  three  5.0  foo
2020-10-03      6  9.0  foo
2020-10-04    NaN  NaN  foo

In [118]:
df.rename(columns={'a':'A', 'c':'C'})

              A    b    C
2020-09-29  1.0  NaN  foo
2020-09-30  NaN  4.0  foo
2020-10-01  2.0  NaN  foo
2020-10-02  3.0  5.0  foo
2020-10-03  6.0  9.0  foo
2020-10-04  NaN  NaN  foo

In [119]:
df.columns = [1, 2, 3]
df

              1    2    3
2020-09-29  1.0  NaN  foo
2020-09-30  NaN  4.0  foo
2020-10-01  2.0  NaN  foo
2020-10-02  3.0  5.0  foo
2020-10-03  6.0  9.0  foo
2020-10-04  NaN  NaN  foo

In [120]:
df.rename(columns=lambda x:x**x)

             1    4    27
2020-09-29  1.0  NaN  foo
2020-09-30  NaN  4.0  foo
2020-10-01  2.0  NaN  foo
2020-10-02  3.0  5.0  foo
2020-10-03  6.0  9.0  foo
2020-10-04  NaN  NaN  foo

In [121]:
df.rename(index=lambda x:x)

              1    2    3
2020-09-29  1.0  NaN  foo
2020-09-30  NaN  4.0  foo
2020-10-01  2.0  NaN  foo
2020-10-02  3.0  5.0  foo
2020-10-03  6.0  9.0  foo
2020-10-04  NaN  NaN  foo

### 数据的过滤(filter),排序(sort)和分组(groupby)

In [122]:
df[df[1] > 1]

              1    2    3
2020-10-01  2.0  NaN  foo
2020-10-02  3.0  5.0  foo
2020-10-03  6.0  9.0  foo

In [123]:
df[(df[1] > 1) & (df[2] < 9)] # 选取数据框df中对应行的数值大于0.5，并且小于0.7的全部列

              1    2    3
2020-10-02  3.0  5.0  foo

In [124]:
df.sort_values([1, 2], ascending=[True, False]) # 按照数据框的列col1升序(ascending)的方式对数据框df做排序

              1    2    3
2020-09-29  1.0  NaN  foo
2020-10-01  2.0  NaN  foo
2020-10-02  3.0  5.0  foo
2020-10-03  6.0  9.0  foo
2020-09-30  NaN  4.0  foo
2020-10-04  NaN  NaN  foo

In [125]:
df.groupby(1).count() # 按照某列对数据框df做分组

     2  3
1
1.0  0  1
2.0  0  1
3.0  1  1
6.0  1  1

In [126]:
df.groupby([1, 2]).count()

         3
1   2
3.0 5.0  1
6.0 9.0  1

### 数据的连接(join)与组合(combine)

In [127]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])

df1.append(df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [128]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])
pd.concat([df1,df2],axis=1) # 在数据框df1的列最后添加数据框df2,其中df1和df2的行数应该相等

     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7

In [129]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})


df2 = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                     index=['K0', 'K1'])


df1.join(df2, on='key') # 对数据框df1和df2做内连接，其中连接的列为col1

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1